<!DOCTYPE html>
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: header"></nav>
<header th:replace="fragments :: logoHeader"></header>
<header id="clinicHeader">
    <h3 id="clinicHeading">Initial Occupational Therapy Evaluation</h3>
    </header>
<form method="post" th:action="@{/completeClinic}">
    <div class="sideBySideTables">
        <div class="child">
            <table class="table table-striped">
                <tr>
                    <td>Date of Eval:</td>
                    <td><input type="date" value="da" name="dateOfEval"></td>
                </tr>
                <tr>
                    <td>Patient Name:</td>
                    <td><input type="text" value="" name="patientName"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" value="" name="address"></td>
                </tr>
                <tr>
                    <td>Parent/Guardian:</td>
                    <td><input type="text" value="" name="parentName"></td>
                </tr>
                <tr>
                    <td>Diagnosis:</td>
                    <td><input type="text" value="" name="diagnosis"></td>
                </tr>
                <tr>
                    <td>Therapist:</td>
                    <td>
                        <select name="therapistChoice">
                            <option value="kristi" name="kristiTherapistClinic">Kristi Warren</option>
                            <option value="newTherapist" name="newTherapistClinic">New therapist </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="child">
            <table class="table table-striped">
                <tr>
                    <td>DOB:</td>
                    <td><input type="date" value="" name="DOB"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" value="(217)" name="clientPhone"></td>
                </tr>
                <tr>
                    <td>Physician:</td>
                    <td><input type="text" value="" name="physicianName"></td>
                </tr>
                <tr>
                    <td>Payer:</td>
                    <td>
                        <select name="payer">
                            <option value="insurance" name="insuranceClinic">Insurance</option>
                            <option value="privatePay" name="privatePayClinic">Private Pay </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>NPI:</td>
                    <td>1114051018</td>
                </tr>
            </table>
        </div>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">REFERRAL INFORMATION/PARENT CONCERNS:</h5>
</div>
    <div class="sideBySideTables">
            <div class="child2">
            <textarea th:replace="fragments :: textArea" name="referral"></textarea>
            </div><br>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">MEDICAL AND DEVELOPMENTAL HISTORY:</h5>
</div>
    <div class="sideBySideTables">
        <div class="child2">
            <textarea th:replace="fragments :: textArea" name="medicalHistory"></textarea>
        </div>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">ASSESSMENT INFORMATION:</h5>
</div>
<div class="sideBySideTables">
    <div class="child">
        <table class="table table-striped">
            <tr>
                <td>Assessment Method:</td>
                <td>
                    <div th:insert="fragments :: selectAllThatApply(${assessmentMethod})" id="checkBoxes" name="assessmentMethod"></div>
                </td>
            </tr>
            <tr>
                <td>Behavioral Observations:</td>
                <td>
                    <div th:insert="fragments :: selectAllThatApply(${behaviorObservations})" id="checkBoxes" name="behaviorObservations"></div>
                </td>
            </tr>
            <tr>
                <td>Fine Motor Skills:</td>
                <td>
                    <div th:insert="fragments :: selectAllThatApply(${fineMotor})" id="checkBoxes" name="fineMotor"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="child">
        <table class="table table-striped">
            <tr>
                <td>Communication Status:</td>
                <td>
                    <div th:insert="fragments :: dropDownMenu(${communicationLevel})"  name="communicationLevel"></div>
                </td>
            </tr>
            <tr>
                <td>Education Level:</td>
                <td>
                    <div th:insert="fragments :: dropDownMenu(${educationLevel})"  name="educationLevel"></div>
                </td>
            </tr>
            <tr>
                <td>Strength/Range of Motion:</td>
                <td>
                    <div th:insert="fragments :: dropDownMenu(${strengthAndRangeOfMotion})"  name="strengthAndRangeOfMotion"></div>
                </td>
            </tr>
            <tr>
                 <td>Activities of Daily Living:</td>
                <!--<td>
                    <div th:insert="fragments :: selectAllThatApply(${assessmentMethod})" id="checkBoxes" name="activitiesOfDailyLiving"></div>
                </td>*/-->
            </tr>
        </table>
    </div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">NEUROMOTOR/PRIMITIVE REFLEXES:</h5>
</div>
<div class="sideBySideTables">
<div class="child2">
    <table class="table table-striped">
        <tr>
            <td>Fear Paralysis Reflex</td>
            <td th:insert="fragments :: present" name="fearParalysisPresent"></td>
            <td th:insert="fragments :: integrated" name="fearParalysisIntegrated"></td>
        </tr>
        <tr>
            <td>Moro Reflex</td>
            <td th:insert="fragments :: present" name="moroPresent"></td>
            <td th:insert="fragments :: integrated" name="moroIntegrated"></td>
        </tr>
        <tr>
            <td>Asymmetrical Tonic Neck Reflex (ATNR)</td>
            <td th:insert="fragments :: present" name="atnrPresent"></td>
            <td th:insert="fragments :: integrated" name="atnrIntegrated"></td>
        </tr>
        <tr>
            <td>Symmetrical Tonic Neck Reflex (STNR)</td>
            <td th:insert="fragments :: present" name="stnrPresent"></td>
            <td th:insert="fragments :: integrated" name="stnrIntegrated"></td>
        </tr>
        <tr>
            <td>Tonic Neck Reflex</td>
            <td th:insert="fragments :: present" name="tlrPresent"></td>
            <td th:insert="fragments :: integrated" name="tlrIntegrated"></td>
        </tr>
        <tr>
            <td>Spinal Galant Reflex</td>
            <td th:insert="fragments :: present" name="spinalGalantPresent"></td>
            <td th:insert="fragments :: integrated" name="spinalGalantIntegrated"></td>
        </tr>
        <tr>
            <td>Palmar Reflex</td>
            <td th:insert="fragments :: present" name="palmarPresent"></td>
            <td th:insert="fragments :: integrated" name="palmarIntegrated"></td>
        </tr>
    </table>
</div>
</div>

<div class="sectionHeaders">
    <h5 class="childSectionHeaders">VISUAL MOTOR/VISUAL PERCEPTION</h5>
</div>
<div class="sideBySideTables">
    <div class="child2">

        <h6 id="visualTracking">Visual Tracking:</h6>
        <textarea th:replace="fragments :: textArea" name="visualTracking" id="childSensoryTextAreas"></textarea>
    </div><br>
</div>
<div class="sideBySideTables">
    <div class="child2">
        <h6 id="visualSaccades">Visual Saccades:</h6>
        <textarea th:replace="fragments :: textArea" name="visualSaccades" id="childSensoryTextAreas"></textarea>
    </div>
</div>
<div class="sideBySideTables">
    <div class="child2">
        <h6 id="convergenceDivergence">Convergence/Divergence:</h6>
        <textarea th:replace="fragments :: textArea" name="convergenceDivergence" id="childSensoryTextAreas"></textarea>
    </div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">SUMMARY/PLAN:</h5>
</div>
<div class="sideBySideTables">
<div class="child2">
    <table class="table">
        <tr>
            <td>Frequency of OT:</td>
            <td>
                <div th:insert="fragments :: dropDownMenu(${frequencyOfOT})"  name="frequencyOfOT"></div>
            </td>
        </tr>
        <tr>
            <td>Duration of OT:</td>
            <td>
                <select>
                    <option>3 Months</option>
                    <option>6 Months</option>
            </select>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">OCCUPATIONAL THERAPY GOALS:</h5>
</div>
<div class="sideBySideTables2">
    <div class="child2">
        <table class="table table-striped">
            <tr>
                <td>1.</td>
                <td th:replace="fragments ::  freeText" ></td>
            </tr>
            <tr>
                <td>2.</td>
                <td th:replace="fragments ::  freeText" ></td>
            </tr>
            <tr>
                <td>3.</td>
                <td th:replace="fragments ::  freeText" ></td>
            </tr>
            <tr>
                <td>4.</td>
                <td th:replace="fragments ::  freeText" ></td>
            </tr>
        </table>
    </div>
</div>
<div class="sideBySideTables">
    <div class="evaluatorName">
        <select class="evaluatorSelect">
            <option th:each="therapist : ${allTherapists}" th:text="${therapist.key}"></option>
        </select><br>
        <p class="h6">Evaluator Printed Name</p>
    </div>
    <div class="evaluatorName">
        <select class="evaluatorSelect">
            <option >Signature to be determined later  </option>
        </select><br>
        <p class="h6">Evaluator Signature</p>
    </div>
</div>
</form>
</body>
</html>