
#clinicHeader{
display:flex;
justify-content:center;

}
.child{
padding:20px;
width:100%;
}
.child2{
padding:20px;
width:100%;

}
#textArea{
resize:none;
}
.sideBySideTables{
height: 50%;
width: 80%;
display:flex;
align-items:flex-start;
justify-content:center;
border-bottom: 1px solid #a9a9a9;
margin:auto;
}
#checkBoxes{
width:100%; height: 100px; overflow-y: scroll;
float:left;
}
#brainsInMotionHeader{
display:flex;
justify-content:center;
margin-top:30px;
}
#brainsInMotionLogo{
float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
.subHeader{
display:flex;
text-align:center;
justify-content:center;
margin-top:5px;
}
#childSensoryDisclaimer{
font-size:12px;
}
.textDisclaimer{
height: 50%;
width: 80%;
display:flex;
align-items:flex-start;
justify-content:center;
border-bottom: 1px solid #a9a9a9;
margin:auto;
margin-top:20px;
 border-radius: 25px;
  border: 2px solid #a9a9a9;
  padding: 10px;
}
#childSensoryProfile{
margin-bottom:10px;
}