<!DOCTYPE html>
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: header"></nav>
<header th:replace="fragments :: logoHeader"></header>
<header id="clinicHeader">
    <h3 id="clinicHeading">Initial Occupational Therapy Evaluation</h3>
    </header>
<form action="#" th:action="@{clinic/complete}" th:object="${clinicForm}" method="post" >
<!--    action="#" th:action="@{clinic/complete}" th:object="${clinicForm}"-->
    <div class="sideBySideTables">
        <div class="child">
            <table class="table table-striped">
                <tr>
                    <td>Date of Eval:</td>
                    <td><input type="date" th:field="*{dateOfEval}" ></td>
                </tr>
                <tr>
                    <td>Patient Name:</td>
                    <td><input type="text" th:field="*{patientName}"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text"  th:field="*{address}"></td>
                </tr>
                <tr>
                    <td>Parent/Guardian:</td>
                    <td><input type="text" th:field="*{parentName}"></td>
                </tr>
                <tr>
                    <td>Diagnosis:</td>
                    <td><input type="text"  th:field="*{diagnosis}"></td>
                </tr>
                <tr>
                    <td>Therapist:</td>
                    <td>
                        <select th:field="*{therapistChoice}">
                            <option value="Kristi Warren" name="kristiTherapistClinic">Kristi Warren</option>
                            <option value="New Therapist" name="newTherapistClinic">New therapist </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="child">
            <table class="table table-striped">
                <tr>
                    <td>DOB:</td>
                    <td><input type="date"  th:field="*{DOB}"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" value="(217)" th:field="*{clientPhone}"></td>
                </tr>
                <tr>
                    <td>Physician:</td>
                    <td><input type="text" th:field="*{physicianName}"></td>
                </tr>
                <tr>
                    <td>Payer:</td>
                    <td>
                        <select class="form-control" th:field="*{payer}">
                            <option value="Insurance" name="insuranceClinic" >Insurance</option>
                            <option value="Private Pay" name="privatePayClinic" >Private Pay</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>NPI:</td>
                    <td>1114051018</td>
                </tr>
            </table>
        </div>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">REFERRAL INFORMATION/PARENT CONCERNS:</h5>
</div>
    <div class="sideBySideTables">
            <div class="child2">
                <textarea th:field="*{referral}" id="textArea" class="form-control" rows="3"></textarea>
            </div><br>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">MEDICAL AND DEVELOPMENTAL HISTORY:</h5>
</div>
    <div class="sideBySideTables">
        <div class="child2">
            <textarea th:field="*{medicalHistory}" id="textArea" class="form-control" rows="3"></textarea>            </div><br>
        </div>
    </div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">ASSESSMENT INFORMATION:</h5>
</div>
<div class="sideBySideTables">
    <div class="child">
        <table class="table table-striped">
            <tr>
                <td>Assessment Method:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{assessmentMethod}"
                             value="Observation"id="observation">
                            <label for="observation">Observation</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{assessmentMethod}"
                                value="Interview"    id="interview">
                            <label for="interview">Interview</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{assessmentMethod}"
                                value="Standardized Test"  id="standard">
                            <label for="standard">Standardized Test</label>
                        </li>
                    </ul>
                        <br>
                </td>
            </tr>
            <tr>
                <td>Behavioral Observations:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{behaviorObservations}"
                                   value="Option One" id="optionOne">
                            <label for="optionOne">Option One</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{behaviorObservations}"
                                   value="Option Two"    id="optionTwo">
                            <label for="optionTwo">Option Two</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{behaviorObservations}"
                                   value="Option Three"  id="optionThree">
                            <label for="optionThree">Option Three</label>
                        </li>
                    </ul>
                    <br>
                </td>
            </tr>
            <tr>
                <td>Fine Motor Skills:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Raking" id="raking">
                            <label for="raking">Raking</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Pincer"    id="Pincer">
                            <label for="Pincer">Pincer</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Grasping"  id="Grasping">
                            <label for="Grasping">Grasping</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Whole hand"  id="wholeHand">
                            <label for="wholeHand">Whole hand</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Uses a fisted grasp"  id="fisted">
                            <label for="fisted">Uses a fisted grasp</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{fineMotor}"
                                   value="Grasps writing tool with all fingertips on tool"  id="allFingertips">
                            <label for="allFingertips">Grasps writing tool with all fingertips on tool</label>
                        </li>
                    </ul>
                    <br>
                </td>
            </tr>
        </table>
    </div>
    <div class="child">
        <table class="table table-striped">
            <tr>
                <td>Communication Status:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{communicationLevel}"
                                   value="Option One" id="optionOne">
                            <label for="optionOne">Option One</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{communicationLevel}"
                                   value="Option Two"    id="optionTwo">
                            <label for="optionTwo">Option Two</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{communicationLevel}"
                                   value="Option Three"  id="optionThree">
                            <label for="optionThree">Option Three</label>
                        </li>
                    </ul>
                    <br>
                </td>
            </tr>
            <tr>
                <td>Education Level:</td>
                <td>
                    <select th:field="*{frequencyOfOT}">
                        <option value="Less Than Elementary">Less Than Elementary</option>
                        <option value="Elementary">Elementary</option>
                        <option value="Middle">Middle</option>
                        <option value="Some High School">Some High School</option>
                        <option value="High School Diploma">High School Diploma</option>
                        <option value="Some College">Some College</option>
                        <option value="Associates">Associates</option>
                        <option value="Bachelors">Bachelors</option>
                        <option value="Graduate or above">Graduate or above</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Strength/Range of Motion:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{strengthAndRangeOfMotion}"
                                   value="Option One" id="optionOne">
                            <label for="optionOne">Option One</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{strengthAndRangeOfMotion}"
                                   value="Option Two"    id="optionTwo">
                            <label for="optionTwo">Option Two</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{strengthAndRangeOfMotion}"
                                   value="Option Three"  id="optionThree">
                            <label for="optionThree">Option Three</label>
                        </li>
                    </ul>
                    <br>
                </td>
            </tr>
            <tr>
                 <td>Activities of Daily Living:</td>
                <td>
                    <ul>
                        <li>
                            <input type="checkbox" th:field="*{activitiesOfDailyLiving}"
                                   value="Option One" id="optionOne">
                            <label for="optionOne">Option One</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{activitiesOfDailyLiving}"
                                   value="Option Two"    id="optionTwo">
                            <label for="optionTwo">Option Two</label>
                        </li>
                        <li>
                            <input type="checkbox" th:field="*{activitiesOfDailyLiving}"
                                   value="Option Three"  id="optionThree">
                            <label for="optionThree">Option Three</label>
                        </li>
                    </ul>
                    <br>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">NEUROMOTOR/PRIMITIVE REFLEXES:</h5>
</div>
<div class="sideBySideTables">
<div class="child2">
    <table class="table table-striped">
        <tr>
            <td>Fear Paralysis Reflex</td>
            <td >
                <input type="checkbox" id="present" th:field="*{fearParalysisPresent}" th:checked="${clinicForm.fearParalysisPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{fearParalysisIntegrated}" th:checked="${clinicForm.fearParalysisIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Moro Reflex</td>
            <td >
                <input type="checkbox" id="present" th:field="*{moroPresent}" th:checked="${clinicForm.moroPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{moroIntegrated}" th:checked="${clinicForm.moroIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Asymmetrical Tonic Neck Reflex (ATNR)</td>
            <td >
                <input type="checkbox" id="present" th:field="*{atnrPresent}" th:checked="${clinicForm.atnrPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{atnrIntegrated}" th:checked="${clinicForm.atnrIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Symmetrical Tonic Neck Reflex (STNR)</td>
            <td >
                <input type="checkbox" id="present" th:field="*{stnrPresent}" th:checked="${clinicForm.stnrPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{stnrIntegrated}" th:checked="${clinicForm.stnrIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Tonic Neck Reflex</td>
            <td >
                <input type="checkbox" id="present" th:field="*{tlrPresent}" th:checked="${clinicForm.tlrPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{tlrIntegrated}" th:checked="${clinicForm.tlrIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Spinal Galant Reflex</td>
            <td >
                <input type="checkbox" id="present" th:field="*{spinalGalantPresent}" th:checked="${clinicForm.spinalGalantPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{spinalGalantIntegrated}" th:checked="${clinicForm.spinalGalantIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
        <tr>
            <td>Palmar Reflex</td>
            <td >
                <input type="checkbox" id="present" th:field="*{palmarPresent}" th:checked="${clinicForm.palmarPresent}" >
                <label for="present" >Present</label>
            </td>
            <td >
                <input type="checkbox" id="integrated" th:field="*{palmarIntegrated}" th:checked="${clinicForm.palmarIntegrated}">
                <label for="integrated" >Integrated</label>
            </td>
        </tr>
    </table>
</div>
</div>

<div class="sectionHeaders">
    <h5 class="childSectionHeaders">VISUAL MOTOR/VISUAL PERCEPTION</h5>
</div>
<div class="sideBySideTables">
    <div class="child2">

        <h6 id="visualTracking">Visual Tracking:</h6>
        <textarea th:field="*{visualTracking}" id="textArea" class="form-control" rows="3"></textarea>
    </div><br>
</div>
<div class="sideBySideTables">
    <div class="child2">
        <h6 id="visualSaccades">Visual Saccades:</h6>
        <textarea th:field="*{visualSaccades}" id="textArea" class="form-control" rows="3"></textarea>
    </div>
</div>
<div class="sideBySideTables">
    <div class="child2">
        <h6 id="convergenceDivergence">Convergence/Divergence:</h6>
        <textarea th:field="*{convergenceDivergence}" id="textArea" class="form-control" rows="3"></textarea>
    </div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">SUMMARY/PLAN:</h5>
</div>
<div class="sideBySideTables">
<div class="child2">
    <table class="table">
        <tr>
            <td>Frequency of OT:</td>
            <td>
                <select th:field="*{frequencyOfOT}">
                    <option value="Twice a week">Twice a week</option>
                    <option value="Once a week">Once a week</option>
                    <option value="Every other week">Every other week</option>
                    <option value="Monthly">Monthly</option>
                    <option value="As needed">As needed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Duration of OT:</td>
            <td>
                <select th:field="*{durationOfOT}">
                    <option value="3 months">3 Months</option>
                    <option value="6 months">6 Months</option>
            </select>
            </td>
        </tr>
    </table>
</div>
</div>
<div class="sectionHeaders">
    <h5 class="childSectionHeaders">OCCUPATIONAL THERAPY GOALS:</h5>
</div>
<div class="sideBySideTables2">
    <div class="child2">
        <table class="table table-striped">
            <tr>
                <td>1.</td>
                <td th:replace="fragments ::  freeText" th:field="*{goalOne}"></td>
            </tr>
            <tr>
                <td>2.</td>
                <td th:replace="fragments ::  freeText" th:field="*{goalTwo}"></td>
            </tr>
            <tr>
                <td>3.</td>
                <td th:replace="fragments ::  freeText" th:field="*{goalThree}"></td>
            </tr>
            <tr>
                <td>4.</td>
                <td th:replace="fragments ::  freeText" th:field="*{goalFour}"></td>
            </tr>
        </table>
    </div>
</div>
<div class="sideBySideTables">
    <div class="evaluatorName">
        <select class="form-control" th:field="*{therapist}" id="evaluatorSelect">
            <option th:each="therapist : ${allTherapists}" th:field="*{therapist}" th:text="${therapist.key}" th:value="${therapist.key}"></option>
        </select><br>
        <p class="h6">Evaluator Printed Name</p>
    </div>
    <div class="evaluatorName">
        <select class="evaluatorSelect">
            <option >Signature to be determined later  </option>
        </select><br>
        <p class="h6">Evaluator Signature</p>
    </div>
</div>
    <div class="form-group"></div>
    <input type="submit" value="Submit" class="btn btn-success">

    <div class="form-group"></div>
    <input type="reset" value="Reset" class="btn btn-success">

</form>
</body>
</html>