<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/"/>

<!-- HEAD AND STYLESHEETS*/-->
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Brains in Motion Forms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</head>
<body>

<!-- TOP NAV BAR*/-->
<nav th:fragment="header" class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item"><a class= "nav-link " href="/clinic">Clinic Form</a></li>
        <li class="nav-item"><a class= "nav-link " href="/EI">Early Intervention Form</a></li>
    </ul>
</nav>

<!-- HEADER WITH LOGO*/-->
<div th:fragment="logoHeader">
    <h2 id="brainsInMotionHeader">Brains in Motion, LLC.</h2>
    <p class="subHeader">3131 Greenhead Drive Suite D<br>
    Springfield, IL 62711<br>
    Phone:  217-8911524  Fax:  855-246-2163</p>
</div>

<!-- TEXTAREA */-->
<textarea th:fragment="textArea" id="textArea" class="form-control" rows="3"></textarea>

<!-- SELECT ALL THAT APPLY*/-->
<td>
    <div th:fragment="selectAllThatApply(enum)" th:each="enums : ${enum}" >
        <!--/*@thymesVar id="user" type="com.wimdeblauwe.examples.thymeleafiterationfragments.IndexController.User"*/-->
        <input type="checkbox"
               th:value="${enums}"
               th:text="${enums.getName}"

               />
        <br>
    </div>
</td>

<!-- DROPDOWN*/-->
<td>
    <select th:fragment="dropDownMenu(enum)">
        <option th:each="enums:${enum}"
                th:value="${enums}"
                th:text="${enums.getName}">
        </option>
    </select>

</td>

<!-- Present/Integrated Each Row*/-->

    <td th:fragment="present">
        <input type="checkbox" id="present" >
        <label for="present" >Present</label>
    </td>
    <td th:fragment="integrated">
        <input type="checkbox" id="integrated" >
        <label for="integrated" >Integrated</label>
</td>
</tr>

<!-- Sensory Scoring Chart CLINIC*/-->
<tr th:fragment="childSensoryProfile2(string, rawScore, rowScore)">
    <td th:text="${string}"></td>
    <td th:text="${rowScore}"></td>
    <td th:text="${rawScore}"></td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
        <input type="checkbox" class="styled"id="sensoryButton"  name="muchLess">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  name="lessThan">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton" name="justLike">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" id="sensoryButton" name="moreThan">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  name="muchMore">
        </div>
    </td>
</tr>

<!-- Single Line Free Text*/-->
<td th:fragment="freeText">
    <input type="text" style="width:100%">
</td>


<!-- sensory scoring chart EI FORM*/-->
<tr th:fragment="toddlerSensoryProfile(string, rawScore, rowScore)">
    <td th:text="${string}"></td>
    <td th:text="${rowScore}"></td>
    <td th:text="${rawScore}"></td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  value="muchLess" name="muchLess">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  value="lessThan" name="lessThan">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  value="justLike" name="justLike">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" id="sensoryButton"  value="moreThan" name="moreThan">
        </div>
    </td>
    <td>
        <div class="checkbox checkbox-inline checkbox-circle checkbox-md">
            <input type="checkbox" class="styled"id="sensoryButton"  value="muchMore" name="muchMore">
        </div>
    </td>
</tr>
</body>
</html>