<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/"/>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Brains in Motion Forms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="header" class="navbar bg-dark">
    <ul class="nav">
        <li class="nav-item"><a class= "nav-link " href="/forms/clinic">Clinic Form</a></li>
        <li class="nav-item"><a class= "nav-link " href="/forms/EI">Early Intervention Form</a></li>
    </ul>
</nav>
</body>
</html>